
/*<!-- CSS -------------------->*/


/*<!-- CSS  ABSOLUT-------------------->*/
*{
  margin:0;
  padding: 0;
  font-family: Arial;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*<!---------------------->*/






/*<!-- CSS - BODY ------------------->*/


/*<!-- MENU -------------------->*/

#menu{
  width: 100%;
  height: 60px;
  position:fixed;
  background-color: #cce5ff;
  z-index: 1;
  opacity: 0.6;
  filter: alpha(opacity=60)
}

.logo {
  margin-top: -8px;
  z-index: 2;
  float: left;
  padding-left: 5%;
}

#navigation {
  text-align: left;
  font-family: Arial;
  font-size: 20px;
  padding: 1%;
  /*list-style: none;*/
}

#navigation li{
  display: inline-flex;
  padding: 0;
  letter-spacing: 2px;
  margin-left: 6%;
}
#navigation li a{
  padding: 5px;
  color: #0d0d0d;
  transform: rotate(1080deg);
}

#navigation li a:hover {
color: red;
}


/*<!-- MENU END-------------------->*/




/*<!-- container 1-------------------->*/

div.conteneur1{
  /*background-image: url(img/art.jpg);*/
  /*background-size: 100%;*/
  background-color: #737373;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  opacity: 0.7;
  z-index: -1;
}
div.block1{
  height: 100vh;
  width: 100%;
  text-align: center;
  font-family:Verdana,sans-serif;
  padding: 20%;
}


  .block1 H1{
    color: #ffffff;
    font-size: 300%;
  }

H1{
  font-family: font-family: Big Caslon,Book Antiqua,Palatino Linotype,Georgia,serif;
	font-size: 60px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  color: #000033;
  margin: 1%;
}
.par{
  text-align:center;
  color: #ffffff;
  font-size: 100%;
}


/*<!-- container 2-------------------->*/

/*<!-- container 3-------------------->*/

/*<!-- container 4-------------------->*/

/*<!-- container 5-------------------->*/

/*<!-- CSS - BODY END------------------->*/





/*-- FOOTER --------------------*/

.Copyright{
  background-color:#66ccff;
  opacity: 0.8;
}

.c{
  text-align: center;
  color: blue;
  padding: 2%;
  height: 10vh;
  width: 100%;
  font-size: 10px;
  color: #FFF;
}

/*-- FOOTER END--------------------*/

/*-- THE END--------------------*/





/*  MEDIA SCREEN ----------------------------- */

/*  Media screen 1100----------------------------- */

/*@media screen and (max-width:1100px){

}*/



/*  Media screen 768----------------------------- */

/*@media screen and (max-width:768px){

}*/


/*  Media screen 400----------------------------- */

/*@media screen and (max-width:400px){

}*/

/*  Media screen   THE END----------------------------- */


/*<!-- THE END SITE-------------------->*/
